<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="vcredist2005" />
	  <package id="vcredist2007" />
	  <package id="vcredist2010" />
	  <package id="vcredist2013" />
	  <package id="vcredist2012" />
	  <package id="vcredist140" />
      <package id="googlechrome" />
	  <package id="vlc" />
	  <package id="ccleaner" />
	  <package id="teamviewer" />
	  <package id="steam" />
	  <package id="kodi" />
	  <package id="k-litecodecpackfull" />	 
	  <package id="linkshellextension" />
	  <package id="parsec" />
	  <package id="moonlight-qt" />
	  <package id="brave" />
	  <package id="hwinfo.install" />
	  <package id="mediainfo" />
	  <package id="internet-download-manager" />
	  <package id="jdownloader" />
	  <package id="msiafterburner" />	  
    </packages>
	
	
	                                  