<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="dotnet3.5" />
	  <package id="dotnet4.5" />
	  <package id="dotnet4.6.1" />
	  <package id="cpu-z" />
	  <package id="gpu-z" />
	  <package id="procexp" />
	  <package id="io-unlocker" />
	  <package id="powertoys" />
	  <package id="autohotkey.portable " />
	  <package id="sysinternals" />
	  <package id="procmon" />
	  <package id="notepadplusplus" />
	  <package id="winscp" />
	  <package id="python3" />
	  <package id="arduino" />	  
	  <package id="ruby" />
	  <package id="pdfcreator" />
	  <package id="libreoffice" />
	  <package id="chocolateygui" /> 	  
    </packages>
	
	
                        
                         